<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="login_ mx-auto mt-5">
        <div class="container">
            <div class="row ">
                <div class="col-lg-5 col-md-5 col-4 col-xxl-5 login_img_">
                    <img class="img_" src="./assets/p1.jpg" alt="">
                </div>

                <div class="col-lg-7 col-md-7 col-8 col-xxl-7 login_form_">
                    <h4>OTP Verification</h4>
                    <p>An OTP has been sent to {{mobileNumber.phoneNumber}}</p>

                    <form class="form_ mt-5" [formGroup]="otpForm">
                        <div class="form-group mb-3">
                            <input type="tel" class="form-control tel_" placeholder="Enter OTP" formControlName="otpNumber" id="mobileNumber" aria-describedby="mobileHelp">
                            <p *ngIf="otpForm.controls['otpNumber'].errors && otpForm.controls['otpNumber'].touched" class="alert alert-danger">This feild is required</p> 
                        </div>

                        <div class="btn_container_ mt-4">
                            <p>There might be some delay in receiving the OTP due to heavy traffic.</p>
                            <button type="button" (click)="verify()" [disabled]="!otpForm.valid"  class="btn">Verify & Proceed</button>
                            
                        </div>
                    </form>

                    <div *ngIf="errorMessage!=null">
                        <span class="text-danger">Invalid OTP..!</span>
                    </div>
                    <div *ngIf="successMessage!=null">
                      <span class="text-success">{{successMessage}}</span>
                  </div>

                </div>
            </div>
        </div>
    </div>

</body>
</html>